*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  background-color: black;
}

.canvas {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
}

section{
  position: relative;
  min-height: 100vh;
  text-align: center;
}